*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:hsl(220, 15%, 55%);
    font-family: 'Rubik', sans-serif;
}
.parent{
    margin: 50px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 13px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(240, 255, 254);
     width: 300px ;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     height: 440px;  
}
.photo{
    background-image: url(../image-qr-code.png);
    width: 100%;
    height: 270px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    font-weight: bold;
    margin: 16px;
    text-indent: 5px;
    font-weight: 700;
}
p{
    /* font-weight: lighter; */
    opacity: .4;
    text-indent: 10px;
    margin: 10px;

    margin-top:-5px ;
    text-align: center;
}
